#loading{
	background-color: #e27a3f;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 150px;
	margin-top: -25px;
	margin-left: -75px;

}
.object{
	width: 8px;
	height: 50px;
	margin-right:5px;
	background-color: #FFF;
	-webkit-animation: animate 1s infinite;
	animation: animate 1s infinite;
	float: left;
	}

.object:last-child {
	margin-right: 0px;
	}

.object:nth-child(10){
	-webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;	
	}
.object:nth-child(9){
	-webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;	
	}	
.object:nth-child(8){
	-webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;	
	}
.object:nth-child(7){
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;	
	}
.object:nth-child(6){
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;	
	}
.object:nth-child(5){
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
	}
.object:nth-child(4){
	-webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;		
	}
.object:nth-child(3){
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;	
	}
.object:nth-child(2){
	-webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
	}						
	


@-webkit-keyframes animate {
 
  50% {
	-ms-transform: translateX(-25px) scaleY(2); 
   	-webkit-transform: translateX(-25px) scaleY(2);
    transform: translateX(-25px) scaleY(2);
	
	  }
	  
	  

}

@keyframes animate {
  50% {
	-ms-transform: translateX(-25px) scaleY(2); 
   	-webkit-transform: translateX(-25px) scaleY(2);
    transform: translateX(-25px) scaleY(2);
	  }

  
}

body{
	margin: 0;
	padding: 0;
}
/***header-area style***/
header-area{
	overflow: hidden;
}
.container{
	max-width: 1140px;
	width:95%;
	margin: 0 auto;
}
.header-full{
	overflow: hidden;
	padding-top:40px;
}
.header-icon{
	width: 33%;
	float: left;
	padding-top: 10px;
}
.header-icon ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-icon ul li{
	display: inline;
}
.header-icon ul li a{
	display: inline-block;
	text-decoration: none;
	background: #070513;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 15px;
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 33px;
}
.header-logo{
	overflow: hidden;
	float: left;
	width: 34%;
	text-align: center;
}
.header-sarch{
	overflow: hidden;
	width: 33%;
	position: relative;
	padding-top: 8px;
}
.header-sarch form{
	float: right;
}
.header-sarch input{
	height: 30px;
	border-radius: 29px;
	border: 4px solid black;
	width: 150px;
	font-size: 23px;
	padding-left: 12px;
	float: right !important;
	padding-right: 32px;
}
.header-sarch button{
	position: absolute;
	background: none;
	border: none;
	right: 1%;
	top: 32%;
	padding-right: 9px;
	font-size: 20px;
}
.header-menu{
	padding-top: 10px;

}
.mobile-menu{
	font-size:40px;
	color:gray;
	text-align:center;
	margin-bottom: 12px;
	display:none;

}
.header-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.header-menu ul li{
	display: inline;
}
.header-menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px 11px;
	display: inline-block;
	color: #04040f;
	font-weight: 400;
	font-size: 17px;
	padding: 30px 0px;
	font-family: 'Abril Fatface', cursive;
}
/*slider-area style*/
.slider-area{
	overflow: hidden;
}
.slider-area img{
	width: 100%;
}
/***articles-area style***/
.articles-area{
	overflow: hidden;
	padding: 20px 0px;
}
.articles-headding{
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding-bottom: 18px;
}
.articles-headding h1{
	margin: 0;
	padding: 10px 0;
	text-transform: capitalize;
	color: #000;
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
	font-size: 30px;
}
.articles-headding ul{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	margin-top: -38px;
}
.articles-headding ul li{
	display: inline;
}
.articles-headding ul li a{
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	border: 1px solid #000;
	padding: 2px 6px;
	text-align: center;
	margin: 0px 3px;
}
.articles-bottom{
	overflow: hidden;
}
.articles-single{
	width: 30.5%;
	float: left;
	overflow: hidden;
	margin: 3% 2%;
	border: 1px solid #ddd;
	box-shadow: -3px 1px 6px -4px;
}
.articles-single img{
	width: 100%;
}
.articles-single:first-child{
	margin-left: 0;
}
.articles-single:last-child{
	margin-right: 0;
}
.art-text{
	padding: 15px;
}
.art-text h2{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #2e2e2e;
}
.art-text p{
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #969696;
	line-height: 22px;
	padding: 15px 0px;
}
.art-text a{
	text-decoration: none;
	color:#7b7a7a;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.art-text i{
	margin-left: 4%;
	font-size: 17px;
}
/**newspaper-area style**/
.newspaper-area{
	width: 100%;
	background: url('img/back.jpg') no-repeat fixed 0 0 / 100% 100%;
	overflow: hidden;
}
.newspaper{
	text-align: center;
	padding: 40px 0px;
}
.newspaper h1{
	margin: 0;
	text-transform: uppercase;
	color: white;
	font-family: 'Abril Fatface', cursive;
	font-weight: 400;
	font-size: 30px;
	padding: 10px 0px;
}
.newspaper p{
	margin: 0;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #fff;
	padding-bottom: 20px;
}
.newspaper input{
	background: none;
	border: 1px solid #ffffff;
	padding:15px;
	width: 27%;
	color: #fff;
	font-weight: bold;
}

.newspaper button{
	background: #CCCCCC;
	color: #04040f;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-left: 6px;
	border: none;
	padding:15px 25px;
}
/*contact-area style*/
.contact-area{
	overflow: hidden;
	padding-top: 85px;
	box-shadow: 0px 1px 13px 0px #b09898;
}
.contact-top{
	text-align: center;
}
.contact-top h1{
	margin: 0;
	padding: 10px 0;
	font-family: 'Abril Fatface', cursive;
	font-size: 30px;
	color: #000;
	font-weight: 400;
}
.contact-top p{
	text-transform: uppercase;
	font-size: 16px;
	width: 51%;
	margin: 0 auto;
	line-height: 23px;
	padding-bottom: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
.contact-ful{
	overflow: hidden;
	border: 1px solid #ddd;
	border-bottom: none;
	padding-bottom: 90px;
}
.contact-single{
	width: 33%;
	float: left;
	overflow: hidden;
	text-align: center;
	border-right: 3px solid #ddd;
	height: 158px;
	padding-top: 109px;
}
.contact-single:last-child{
	border-right: 0;
}
.contact-single h3{
	margin: 0;
	color: #696969;
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	padding: 15px 0px;
}
.contact-single p{
	margin: 0px;
	line-height: 22px;
	color: #696969;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}
/*footer-area style*/
.footer-area{
	overflow: hidden;
}
.footer-area p{
	text-align: center;
	color: #696969;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 15px 0px;
}
